*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 #bulbe img{ 
width:400px;
height:330px;
padding-left: 10%;
}
.on{
    width:100px;
    height:50px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top:1px;
    margin-top: 35%;
    margin-right: 5%;
    background-color: chartreuse;
    color:white;
    cursor: pointer;
    transition: all ease 1s;
}
.on:hover{
    box-shadow: 10px 10px 10px black;
    
}
.of{
    width:100px;
    height:50px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top:1px;
    margin-top: 35%;
    background-color: red;
    margin-left: 10%;
    color:white;
    cursor: pointer;
    transition: all ease 1s;
}
.of:hover{
    box-shadow: 10px 10px 10px black;
    
}