*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    background-color: yellow;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align:center;
    width:80%;
    max-width: 500px;
}
.progress-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    max-width: 400px;
    margin: auto;
}
.progress-bar {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  height: 4px;
  background-color: #ccc;
  z-index: 0;
  border-radius: 2px;
  overflow: hidden;
}
.progress-fill {
  height: 100%;
  width:0;
  background-color: green;
  transition: width 0.3s ease;
}

.step{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: #eee;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    position: relative;
    z-index: 1;
    transition: all ease 0.3s;
    text-transform: lowercase;
}
.step.achive{
    border-color: green;
    background-color: white;
}
.step.achive::before{
 content: "✔";
color:green;
font-weight: bold;

}
.step:not(.achive)::before{
    content: "✖";
    color:grey;
    color:black;
}
  
.buttons button{
    background-color: #673ab7;
    width:100px;
    height:30px;
    color:white;
    border:none;
    padding:10px 15px;
    margin:5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}