/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
.container{
    height:100vh;
    width:100%;
    background-color: #201f21;
    display:flex;
    align-items: center;
    justify-content: center;
}
.input-box{
    width:400px;
    max-width:50%;
    position:relative;
}
.input-box input{
    width:100%;
    height:60px;
    padding:0 20px;
    border:1px solid #ccc;
    outline:none;
    color:#fff;
    background: transparent;
}
button{
    background: transparent;
    border:0;
    outline:none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translatey(-50%);
    right:15px;
}
button i{
    width:10%;
    height:10%;
    background-color: #ccc;
    border-radius: 50%;
    font-size: 300%;
}
#message{
    position: absolute;
    bottom: -30px;
    color:#fff;
    font-size: 15px;
    display: none;
}
::placeholder{
font-size: 15px;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
.container{
    height:100vh;
    width:100%;
    background-color: #201f21;
    
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.input-box{
    width:400px;
    max-width:50%;
    position:relative;
  
}
.input-box input{
    width:100%;
    height:60px;
    padding:0 20px;
    border:2px solid #ccc;
    outline:none;
    color:#fff;
    background: transparent;
      cursor: pointer;
}
#button{
    background: transparent;
    border:0;
    outline:none;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:15px;
    color:white;
}
#button i{
    color:#ccc;
    font-size: 20px;
    
}

#message{
    position: absolute;
    bottom: -30px;
    color:#fff;
    font-size: 15px;
    display: none;
    font-family: monospace;
}

::placeholder{
    font-size: 15px;
}
