*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 400px;
    height: 550px;
    
    border-radius: 20px;
    padding: 10px;
    transition: .5s ease-in;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    border: 1px solid wheat;
}
.card:hover{
    box-shadow: 0px 0px 10px;
    transition:.5s ease-out;
    
}
h2{
    font-size: 50px;
 
}

.filed{
    width: 100%;
    height: 15%;
    /* background-color: aqua; */
    margin-bottom: 10px;
    padding: 10px;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin-top: 5px;
}

label{
    font-size: 15px;
}

button{
    padding: 10px;
    width: 100%;
}
/* button:hover{
    background-color: #00ff22;
    color:white;
    box-shadow: 1px 1px black;
} */