*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
   font-family: cursive;
   display: flex;
   justify-content: center;
   align-items: center;
 
}
#insert{
    width:400px;

}
.key{
border:1px solid #9999;
box-shadow: 1px 1px 3px black;
display: inline-block;
padding:10px;
width:30%;
}
/* .key small{
    position: absolute;
    top:-24px;
    left:0;
    width:100%;
    color:#c4c4c4;
    font-size: 14px;
} */
 