*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-color: rgb(57,55,55);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:15px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 15px;
    background-color: #032345;
    border-radius: 20px;
    box-shadow: 0 10px 20px white;
}
canvas{
    background-color: rgba(28,28,189,0.679);
   border-radius: 30px;
}
.info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 420px;
    font-size: 14px;
}
.btn{
    padding: 6px 14px;
    background-color: #22c55e;
    color:black;
    border-radius: 6px;
    border: 2px solid rgb(235,231,231);
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(34,197,94,0.4);
}
#startbtn{
    background-color: #38bdf5;
}
.game-over{
    color:rgba(255,0,0,0.749);
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}